# --- DB CONFIG ---
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# --- PGADMIN CONFIG ---
PGADMIN_PORT=
PGADMIN_EMAIL=
PGADMIN_PASSWORD=

# --- REDIS CONFIG ---
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# --- REDIS IGNSIGN
RI_PORT=
INTERNAL_REDIS_HOST=
INTERNAL_REDIS_PORT=

# --- API CONFIG ---
API_KEY=
JWT_SECRET=